{% extends 'landing/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="landing/style.css">


</head>
{% block body %}
    <div class="topnav">
    <a href="{% url 'users:profile' %}">Profile</a>
    <a href="{% url 'landing:create' %}">Create</a>
    <a href="{% url 'landing:blog' %}">View</a>
    <a href="{% url 'users:logout' %}">Logout</a>
</div>

<div class="container" style="padding-left: 10%;">

    <h1 class="text-center">Blog Post</h1>
    <p class="text-center">Hello</p>
    <br>
    {% for i in data %}
    <div class="row" style="margin:90px 20px 20px 20px; width: 50px;">
        <div class="col-md-4">
            <div class="single-blog">
                <p class="blog-meta">By {{ i.user.username }}<span>{{ i.created_at }}</span></p>
                <img src="http://127.0.0.1:8000/media/{{ i.image }}">
                <p class="blog-text" style="font-weight: bold">{{ i.title }}</p>
                <p class="blog-text">{{ i.summary }}</p>
                <a class="read-more-btn" href="/landing/detail/{{i.id}}">Read More</a>
               <span> <i class="fa fa-thumbs-o-up"></i>7 people like this,</span>
                <span><i class="fa fa-comment-o"></i> 3 </span>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}