{% extends 'landing/base.html' %}
{% load static %}

{% block body %}
<figure>
<img src="{% static 'images/blog.jpg' %}" width="100%">

    <figcaption>
        <h1>Welcome To Our BlogPage</h1>
        <h3>Grow yourself by learning</h3>
    </figcaption>
</figure>
    <div class="container" style="margin-right: 10px;">
    <a class="nav-link1" style="width: 160px;" href="{% url 'users:login' %}">CREATE NEW</a>
   <a class="nav-link" style="width: 160px;" href="{% url 'users:login' %}">VIEW BLOGS</a>
    <a class="nav-link2" href="{%  url 'users:login' %}">Login</a>
    </div>



{% endblock %}
</html>